* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: #EEE;
	color: #111;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

li {
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;
}

#divSide {
	background-color: #222;
	top: 0;
	left: 0;
	bottom: 60px; /*divControls height*/
	width: 300px;
	overflow-y: auto;
	position: fixed;
	z-index: 25;
}

#buttonHide {
	display: none;
}

#divMain {
	margin-left: 300px; /*divSide width*/
	margin-bottom: 60px; /*divControls height*/
}

#divBar {
	background-color: #333;
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
}

#divControls {
	background-color: #333;
	position: fixed;
	width: 100%;
	height: 60px;
	bottom: 0;
	z-index: 50;
}

#controlPrev {
	background-image: url("/img/prev.svg");
}

#controlPlay {
	background-image: url("/img/play.svg");
}

#controlNext {
	background-image: url("/img/next.svg");
}

#playlist {
	padding: 5px 0;
	list-style-image: none;
	overflow-x: hidden;
}

#divProgress {
	background-color: #444;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#progressLoad {
	background-color: #666;
}

#progressPlay {
	background-color: #888;
}

#progressText {
	color: #DDD;
	padding: 0 10px;
	line-height: 60px; /*divControls height*/
	pointer-events: none;
}

#divVolume, #divVolumeTop {
	float: right;
	height: 100%;
	position: relative;
}

#volumeDown, #volumeDownTop {
	background-image: url("/img/down.svg");
	background-position: 0 50%;
}

#volumeUp, #volumeUpTop {
	background-image: url("/img/up.svg");
	background-position: 100% 50%;
}

#volumeText, #volumeTextTop {
	color: #DDD;
	position: absolute;
	width: 100%;
	line-height: 60px;
	text-align: center;
	pointer-events: none;
}

#volumeTextTop {
	line-height: 30px;
}

.volume {
	width: 60px;
	height: 100%;
	float: right;
	background-size: 50% auto;
	background-repeat: no-repeat;
}

.volume:hover {
	background-color: #555;
}

.menuitem {
	color: #888;
	padding: 10px;
	border-bottom: 1px solid #666;
}

.menuitem:hover {
	background-color: #333;
	cursor: pointer;
}

#menuTop {
	background-image: url("/img/menu.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	float: left;
	color: #DDD;
}

#menuTop:hover {
	background-color: #555;
}

.progress {
	height: 100%;
	position: absolute;
}

.album {
	clear: both;
	padding-bottom: 10px;
}

.albumArt {
	padding: 0 10px 10px 10px;
	float: left;
	width: 200px;
}

.albumTitle {
	font-weight: bold;
}

.albumList {
	overflow: auto;
}

.track {
	color: #555;
	padding: 5px 0;
	cursor: pointer;
}

.track:hover {
	background-color: #DDD;
}

.track.selected {
	background-color: #AAA;
}

.trackName, .trackComment, .trackArtists {
	pointer-events: none;
}

.track.selected > .trackName {
	color: #000;
}

.controls {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 60px;
	height: 100%;
	float: left;
}

.controls:hover {
	background-color: #555;
}

#shuffle, #repeat, #shuffleTop, #repeatTop {
	float: right;
}

#shuffle, #shuffleTop {
	background-image: url("/img/shuffle.svg");
}

#repeat, #repeatTop {
	background-image: url("/img/repeat.svg");
}

.top {
	width: 60px;
}

@media screen and (max-width: 800px) {
	#divMain {
		margin-left: 0;
	}
	#divSide {
		left: -100%;
	}
	#divBar {
		display: block;
	}
	#playlist {
		margin-top: 30px; /*divBar height*/
	}
	#buttonHide {
		display: block;
	}
	#divVolume, #shuffle, #repeat {
		display: none;
	}
	.albumArt {
		width: 100px;
	}
}

@media screen and (max-width: 400px) {
	#divSide {
		width: 100%;
	}
	.album {
		padding-bottom: 5px;
	}
	.albumArt {
		width: 50px;
		padding: 0 5px 5px 5px;
	}
	#controlPrev, #controlPlay, #controlNext {
		width: 25%;
	}
	.top {
		width: 20%;
	}
	#divVolumeTop {
		width: 40%;
	}
	#volumeDownTop, #volumeUpTop {
		width: 50%;
	}
}

@media screen and (max-height: 300px) {
	#divControls {
		height: 30px;
	}
	#divSide {
		bottom: 30px;
	}
	#divMain {
		margin-bottom: 30px;
	}
	#progressText, #volumeText {
		line-height: 30px;
	}
}
