* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

#divSide {
	background-color: #0FF;
	top: 0;
	left: 0;
	bottom: 60px; /*divControls height*/
	width: 300px;
	overflow-y: auto;
	position: fixed;
	z-index: 25;
}

#buttonHide {
	display: none;
}

#divMain {
	margin-left: 300px; /*divSide width*/
	margin-bottom: 60px; /*divControls height*/
}

#divBar {
	background-color: #F00;
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 20px;
}

#divPlaylist {
	background-color: #00F;
	color: #FFF;
	padding: 5px;
}

#divControls {
	background-color: #F0F;
	position: fixed;
	width: 100%;
	height: 60px;
	bottom: 0;
	z-index: 50;
}

#controlPrev {
	background-image: url("/prev.svg");
}

#controlPlay {
	background-image: url("/play.svg");
}

#controlNext {
	background-image: url("/next.svg");
}

#playlist {
	list-style-image: none;
	overflow-x: hidden;
}

#divProgress {
	background-color: #00F;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#progressLoad {
	background-color: #F00;
}

#progressPlay {
	background-color: #0F0;
}

#progressText {
	line-height: 60px; /*divControls height*/
	pointer-events: none;
}

.progress {
	height: 100%;
	position: absolute;
}

.album {
	clear: both;
}

.albumArt {
	float: left;
	width: 100px;
	padding: 5px;
}

.albumTitle {
	font-size: 1.2em;
}

.albumList {
	overflow: auto;
}

.selected {
	font-weight: bold;
}

.controls {
	background-color: #0F0;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 60px;
	height: 100%;
	float: left;
}

@media screen and (max-width: 800px) {
	#divMain {
		margin-left: 0;
	}
	#divSide {
		left: -100%;
	}
	#divBar {
		display: block;
	}
	#divPlaylist {
		margin-top: 20px; /*divBar height*/
	}
	#buttonHide {
		display: block;
	}
}

@media screen and (max-width: 400px) {
	#divSide {
		width: 100%;
	}
	.albumArt {
		width: 50px;
	}
	.controls {
		width: 33.3%;
	}
	#divProgress {
		display: none;
	}
}

@media screen and (max-height: 300px) {
	#divControls {
		height: 30px;
	}
	#divSide {
		bottom: 30px;
	}
	#divMain {
		margin-bottom: 30px;
	}
	#progressText {
		line-height: 30px;
	}
}
